<!DOCTYPE html>
<html lang="en">
<head>
    <title>Access HTML Files</title>
</head>
<body>
    <%- include('common/header.ejs') %>
    <h1>404! This page not Found </h1>
    <h2>404! This page not Found </h2>
    <h3>404! This page not Found </h3>
    <h4>404! This page not Found </h4>
    <h5>404! This page not Found </h5>
    <h6>404! This page not Found </h6>
    <%- include('common/footer.ejs') %>
</body>
</html> 